.cta-content {
  width: 60%;
}
h1.hero-title .bottom-title-2nd, h2.hero-title .bottom-title-2nd {
  margin-top: 40px;
}

.hero-header.small h1.hero-title .bottom-title {
  max-width: calc(100% - 230px);
  display: inline-block;
  line-height: 83px;
}

h1.hero-title, h2.hero-title {
  text-align: right;
}


