.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
  padding-right: 0 !important;
}

.banner-wrapper .banner-right span {
  padding: 2px 10px;
}

span#phone {
  padding-left: 5px;
}

.mean-container a.meanmenu-reveal {
  right: calc(50% - 150px) !important;
}

.full-width-content .cta-wrapper .small-cta a {
  padding-right: 20px;
  padding-left: 20px;
}


span.ss-subheader {
  width: 100%;
  margin: 0 0 0px 0  !important;
  padding-bottom: 10px;
}

footer#colophon .bot-footer-wrapper .bot-footer-content .footer-menus-wrapper > div {
  width: 100%;
  margin: 0;
  text-align: center;
}

footer#colophon .bot-footer-wrapper .bot-footer-content .footer-menus-wrapper h2 {
  text-align: center;
}

footer#colophon ul.menu {
  text-align: center;
}

footer#colophon .footer-menus-wrapper h2:after {
  width: 100%;
}


header#masthead {
  position: absolute;
}

.mean-container .mean-bar {
  position: absolute !important;
}

.mean-container .mean-nav {
  margin-top: -11px;
  max-height: none;
}


.mean-container a.meanmenu-reveal {
  height: 33px;
  top: -66px;
}

div#content {
  margin-top: 110px;
}

footer#colophon .site-info-wrapper {
  height: 60px !important;
  text-align: center;
}

footer#colophon .site-info-wrapper * {
  text-align: center !important;
  width: 100%;
}

.hero-header.small div#imageTitle:after {
  padding-top: 50%;
}
.logo-slider-wrapper .logo-slider .owl-stage-outer {
  width: 100%;
}


#ic_signupform .elcontainer {
  width: 250px !important;
}
.full-width-wysiwyg div[style*="width: 50%"] ,
.full-width-wysiwyg div[style*="width: 33%"] {
  width: 100% !important;
}

