.full-width-wrapper .fw-opposite {margin-top: 40px;background-size: contain;}

.full-width-content.content-position-left {
  width: calc(100% - 00px);
}

.full-width-wrapper > .container,
.full-width-wrapper.right > .container {
  flex-direction: column-reverse;
}


.full-width-content.content-position-right .large-cta:before {
  content: none !important;
}

.full-width-content.content-position-left .large-cta:before {
  content: none !important;
}

.full-width-content .cta-wrapper {
  width: 100%;
  justify-content: space-between;
}

.full-width-content.content-position-right {
  width: 100%;
}

.full-width-content.content-position-right > .cta-wrapper {
  flex-direction: row;
}

.cta-content {
  width: 75%;
}

.home h1.hero-title .bottom-title {
  text-align: center;
}

//.hero-bottom-content {
//  width: 100% !important;
//  text-align: center;
//}
//
//.hero-bottom-content * {
//  text-align: center !important;
//}


.triangles-bg-wrapper .triangles-wrapper .triangle .triangle-content {
  width: calc(100% - 60px);
}

.left-content,.right-content {
  padding-bottom: 1px;
}


.blog-meta-wrapper {
  width: 150px;
  min-width: 150px;
}

span#blog-post-image {
  width: 200px;
}
