.hero-header.small h1.hero-title .bottom-title {
  padding-top: 15px; }

.hero-header.small > .container {
  margin-top: 0; }

h2.testimonials-header {
  text-align: center; }

/*===================================
Dont show over 980px - Menu Styles here
===================================*/
/*===================================
  Media Queries
===================================*/
@media (max-width: 1500px) {
  .container {
    max-width: 1150px; } }

@media (max-width: 1200px) {
  .container {
    max-width: 950px; } }

@media (max-width: 980px) {
  .container {
    max-width: 750px; } }

@media (max-width: 768px) {
  .container {
    max-width: 450px; } }

@media (max-width: 500px) {
  .container {
    max-width: 280px; } }
